<div class="login-page" class="container">
  <div class="registration-form" class="form">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="form-group" class="field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"email or nickname", class:"input" %>
      </div>

      <div class="form-group" class="field">
        <%= f.password_field :password, autocomplete: "new-password", placeholder:"password", class:"input" %>
      </div>

      <div class="form-group" class="field">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder:"password", class:"input" %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up" , class:"btn btn-primary"%>
        </div>
    <% end %>

    <%= render "devise/shared/links" %>
    <%= yield %>
  </div>
</div>
