<br>
<h3>Профіль користувача:
  <b><%=@userparam.username%></b>
</h3><br>
<%= image_tag @userparam.avatar.url(:thumb) %><br>
<h5>
  Ім'я:
  <%=@userparam.firstname%></h5>
<h5>Прізвище:
  <%=@userparam.lastname%></h5>
<h5>Вік:
  <%=@userparam.age %></h5>

<%if user_signed_in? && current_user.id == @userparam.id%>

  <%=link_to "Редагувати профіль", edit_userparam_path(@userparam.id)%><br>
  <%=link_to "Change devise profile", edit_user_registration_path%><br>

<%end%>
