<div class="field">
  <%= f.file_field :photos, multiple: true %><br>
</div>

<div class="field">
  <%= f.text_field :name, class:"input", placeholder:"Name" %><br>
</div>
<div class="field">
  <%= f.text_field :download, class:"input", placeholder:"Download" %><br>
</div>

<p><%=f.label :system%><br/>

  <%@systems.each do |system|%>
    <p>
      <%= check_box_tag 'system_ids[]' , system.id%>
      <%= f.label system.name%>
    </p>
  <%end%>
  <div class="field">
    <%= f.text_field :description, class:"input", placeholder:"Description" %><br>
  </div>

  <div class="field">
    <%= f.text_field :all_tags, class:"input", placeholder:"Tag" %><br>
  </div>
