<div class="form-group" class="field">
<%= f.file_field :photos, multiple: true %><br>
</div>
<div class="form-group" class="field">
<%= f.text_field :name, class:"input", placeholder:"Name" %><br>
</div>
<div class="form-group" class="field">
<%= f.text_field :download, class:"input", placeholder:"Age" %><br>
</div>
<div class="form-group" class="field">
<%= f.select :system_id,options_from_collection_for_select(System.all, :id, :name) %><br>
</div>
<div class="form-group" class="field">
<%= f.text_field :description, class:"input", placeholder:"Age" %><br>
</div>

<div class="form-group" class="field">
<%= f.text_field :all_tags, class:"input", placeholder:"Tag" %><br>
</div>
