<div class="field">
  <%= f.file_field :photos, multiple: true, class:"input" %><br>
</div>

<div class="field">
  <%= f.text_field :name, class:"input", placeholder: t(:name) %><br>
</div>
<div class="field">
  <%= f.text_field :download, class:"input", placeholder: t(:link) %><br>
</div>
<div class="field">
  <%@systems.each do |system|%>
      <%= check_box_tag('system_ids[]', system.id, checked = false) %>
      <%= f.label system.name%>
  <%end%>
</div>
<div class="field">
  <%= f.text_field :description, class:"input", placeholder: t(:description) %><br>
</div>

<div class="field">
  <%= f.text_field :all_tags, class:"input", placeholder: t(:tags) %><br>
</div>