<div class="profile-user-info">
	<div class="profile-info-row">
		<div class="profile-info-name">
			<%= t(:title)%>
		</div>

	<div class="profile-info-value">
		<span><%= theme.name%></span>
	</div>
</div>

<div class="profile-info-row">
	<div class="profile-info-name"></div>
	<div class="profile-info-value center">
		<% theme.photos.each do |x| %>
      <span><%= image_tag x.url,  style:" width:300px;" %></span>
    <% end %>
	</div>
</div>

<div class="profile-info-row">
	<div class="profile-info-name">
		<%= t(:system)%>
	</div>

	<div class="profile-info-value">
		<span>
			<%theme.systems.each do |system|%>
        <%= system.name %><br>
      <%end%>
		</span>
	</div>
</div>

<div class="profile-info-row">
	<div class="profile-info-name">
		<%= t(:view)%>
	</div>

	<div class="profile-info-value">
		<span>
			<%= theme.views %>
		</span>
	</div>
</div>

<div class="profile-info-row">
	<div class="profile-info-name">
    <%= link_to t(:like), theme_like_path(theme.id)%>
	</div>

	<div class="profile-info-value">
		<span>
			<%= theme.likes.length %>
		</span>
	</div>
</div>

<div class="profile-info-row">
	<div class="profile-info-name">
    <%= link_to t(:dislike), theme_dislike_path(theme.id)%>
	</div>

	<div class="profile-info-value">
		<span>
      <%= theme.dislikes.length %>
		</span>
	</div>
</div>

<div class="profile-info-row">
  <div class="profile-info-name"></div>
          
  <div class="profile-info-value">
    <%= link_to t(:more), theme_path(theme.id), class:"btn btn-secondary"%>
  </div>
</div>
</div>