<h3><%= t(:theme)%>
  <b><%=@theme.name%></b>
</h3>
<%= form_for @theme, url:theme_path(@theme.id), validate: true do |f|%>
<%=render 'themes/form', f:f%>
<%=f.submit t(:update), class:"btn btn-primary"%>
<%end%>
