<div class="login-page" class="container">
  <div class="registration-form" class="form">
  <h2><%= t :changeyp%></h2>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>
    <%= f.hidden_field :reset_password_token %>

    <div class="form-group" class="field">

      <p><%= f.password_field :password, autocomplete: "new-password" ,  class: "input-sign", placeholder: t(:password), class:"input" %>
      <% if @minimum_password_length %>
        <% end %><br />
    </div>

    <div class="form-group" class="field">
      <p><%= f.password_field :password_confirmation, autocomplete: "off", class: "input-sign", placeholder: t(:nconfirm), class:"input" %>
    </div>

    <div class="form-group" class="actions">
      <p><%= f.submit t(:update,), class:"btn btn-primary" %>
    </div>
  <% end %>

  <%= render "users/shared/links" %>
  </center>
  </div>
</div>
